<a class="bubble" href="{{ .ctx.Params.link }}" target="_blank">
    <i class="fas fa-fw {{ or .ctx.Params.icon "fa-link" }}"></i>
</a>

<article class="link">
    {{ $featuredImageAlt := partial "featured-image-data.html" .ctx }}
    {{ with .ctx.Params.featuredImage }}
        {{ if not (reflect.IsMap .) }}
        <img src="{{ . | relURL }}" class="featured-image" alt="{{ $featuredImageAlt }}"{{ with $featuredImageAlt }} title="{{ . }}"{{ end }}>
        {{ end }}
    {{ end }}
    <a href="{{ .ctx.Params.link }}" target="_blank">
        <h4>{{ .ctx.Title }}</h4>
        {{ .ctx.Content }}
    </a>
</article>
