<a class="bubble" href="{{ .ctx.Permalink }}">
    <i class="fas fa-fw {{or .ctx.Params.icon "fa-quote-right" }}"></i>
</a>

<article class="quote">
    {{ $featuredImageAlt := partial "featured-image-data.html" .ctx }}
    {{ $featuredImageSrc := partial "featured-image-src.html" .ctx }}
    {{ $featuredImageSrcResource := "" }}
    {{ if ne $featuredImageSrc "" }}
        {{ $featuredImageSrcResource = .ctx.Resources.GetMatch $featuredImageSrc }}
    {{ end }}
    {{ with .ctx.Params.featuredImage }}
        {{ if not (reflect.IsMap .) }}
        <img src="{{ . | relURL }}" class="featured-image" alt="{{ $featuredImageAlt }}"{{ with $featuredImageAlt }} title="{{ . }}"{{ end }}>
        {{ end }}
    {{ end }}
    {{ if $featuredImageSrcResource }}
        <img src="{{ $featuredImageSrcResource.RelPermalink }}" class="featured-image" alt="{{ $featuredImageAlt }}"{{ with $featuredImageAlt }} title="{{ . }}"{{ end }}>
    {{ else if ne $featuredImageSrc "" }}
        <img src="{{ $featuredImageSrc | relURL }}" class="featured-image" alt="{{ $featuredImageAlt }}"{{ with $featuredImageAlt }} title="{{ . }}"{{ end }}>
    {{ end }}

    <blockquote>
        {{ .ctx.Content }}
        {{ $urlValue := replace .ctx.Params.author " " "-" | lower}}
        <cite>
            <a href="{{ (print "/author/" $urlValue) | relLangURL }}">
                {{ .ctx.Params.author }}
            </a>
        </cite>
    </blockquote>
</article>
