{{ $featuredImagePattern := .Site.Params.featuredImagePattern | default "featuredImage.*" }}
{{ $featuredImage := .Resources.GetMatch $featuredImagePattern }}
{{ $featuredImageAlt := partial "featured-image-data.html" . }}
{{ if $featuredImage }}
    <div class="featured-image">
        <a href="{{ .Permalink }}">
            {{ if and (.Site.Params.resizeImages | default true) (.Params.resizeImages | default true) }}
                <img src="{{ ($featuredImage.Fill "700x350 q95").RelPermalink }}" alt="{{ $featuredImageAlt }}"{{ with $featuredImageAlt }} title="{{ . }}"{{ end }}>
            {{ else }}
                <img src="{{ $featuredImage.RelPermalink }}" alt="{{ $featuredImageAlt }}"{{ with $featuredImageAlt }} title="{{ . }}"{{ end }}>
            {{ end }}
        </a>
    </div>
{{ else if and (not (reflect.IsMap .Params.featuredImage)) (isset .Params "featuredimage") (ne .Params.featuredImage "") }}
    <div class="featured-image">
        <a href="{{ .Permalink }}">
            <img src="{{ .Params.featuredImage | relURL }}" alt="{{ $featuredImageAlt }}"{{ with $featuredImageAlt }} title="{{ . }}"{{ end }}>
        </a>
    </div>
{{ end }}
