{{ $featuredImagePattern := .Site.Params.featuredImagePattern | default "featuredImage.*" }}
{{ $featuredImage := .Resources.GetMatch $featuredImagePattern }}
{{ if $featuredImage }}
    <div class="featured-image">
        <a href="{{ .Permalink }}">
            {{ if and (.Site.Params.resizeImages | default true) (.Params.resizeImages | default true) }}
                <img src="{{ ($featuredImage.Fill "700x350 q95").RelPermalink }}" alt="">
            {{ else }}
                <img src="{{ $featuredImage.RelPermalink }}" alt="">
            {{ end }}
        </a>
    </div>
{{ else if and (isset .Params "featuredimage") (ne .Params.featuredImage "") }}
    <div class="featured-image">
        <a href="{{ .Permalink }}">
            <img src="{{ .Params.featuredImage | relURL }}" alt="">
        </a>
    </div>
{{ end }}
